include "/usr/share/nano/asm.nanorc"           #asam
include "/usr/share/nano/go.nanorc"            #go
include "/usr/share/nano/mutt.nanorc"          #mutt
include "/usr/share/nano/ruby.nanorc"          #ruby
include "/usr/share/nano/perl.nanorc"          #perl
include "/usr/share/nano/awk.nanorc"           #awk
include "/usr/share/nano/tex.nanorc"           #tex
include "/usr/share/nano/debian.nanorc"        #debian
include "/usr/share/nano/lua.nanorc"           #lua
include "/usr/share/nano/php.nanorc"           #php
include "/usr/share/nano/xml.nanorc"           #xml
include "/usr/share/nano/default.nanorc"       #defoult
include "/usr/share/nano/makefile.nanorc"      #makefile
include "/usr/share/nano/po.nanorc"            #po
include "/usr/share/nano/fortran.nanorc"       #fortran
include "/usr/share/nano/man.nanorc"           #man
include "/usr/share/nano/pov.nanorc"           #pov
include "/usr/share/nano/gentoo.nanorc"        #gentoo
include "/usr/share/nano/mgp.nanorc"           #mgp
include "/usr/share/nano/python.nanorc"        #python
include "/usr/share/nano/groff.nanorc"         #groff
include "/usr/share/nano/nanorc.nanorc"        #nanorc
include "/usr/share/nano/sh.nanorc"            #sh
include "/usr/share/nano/changelog.nanorc"     #changelog
include "/usr/share/nano/html.nanorc"          #html
include "/usr/share/nano/objc.nanorc"          #objc
include "/usr/share/nano/spec.nanorc"          #spec
include "/usr/share/nano/cmake.nanorc"         #cmake
include "/usr/share/nano/java.nanorc"          #java
include "/usr/share/nano/ocaml.nanorc"         #ocaml
include "/usr/share/nano/tcl.nanorc"           #tlc
include "/usr/share/nano/c.nanorc"             #c
include "/usr/share/nano/javascript.nanorc"    #javascript
include "/usr/share/nano/patch.nanorc"         #patch
include "/usr/share/nano/texinfo.nanorc"       #texinfo
include "/usr/share/nano/css.nanorc"           #css
include "/usr/share/nano/json.nanorc"          #json


